@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --yellow: #ffcc01;
  --black: #1f373d;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.btn {
  padding: 0.6rem 1.5rem;
  outline: none;
  border: 1px solid var(--yellow);
  background: var(--yellow);
  border-radius: 5px;
  }

.btn:hover {
  cursor: pointer;
  background: #fff;
  transition: all ease-in-out 0.3s;
  }